@import url("reset.css"); /* import css style reset sheet */

/* --- Variables ------------------------------------------------------------ */
:root {
    --backgroundColor: #EFECE7;
    --textColor: #565656;
    --lightBackground: #EFEEEE;
}

/* --- Fonts ---------------------------------------------------------------- */
@font-face {
    font-family: "EB Garamond";
    src: url("EBGaramond.ttf") format("truetype");
}
@font-face {
    font-family: "EB Garamond";
    src: url("EBGaramondItalic.ttf") format("truetype");
    font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url("Raleway.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway";
    src: url("RalewayItalic.ttf") format("truetype");
    font-style: italic;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

h1 {
    font-family: "EB Garamond";
    font-size: 11vmin;
    font-weight: 100;
    margin: 0;
    padding-top: 4vmin;
    text-align: center;
}

h2 {
    font-family: "Raleway";
    font-size: 4vmin;
    font-weight: 100;
    padding-bottom: 0.25vmin;
}

h3 {
    font-family: "EB Garamond";
    /* font-style: italic; */
    font-size: 2.5vmin;
    font-weight: 500;
    padding-bottom: 4vmin;
}


ul {
    font-family: "Raleway";
    font-size: 1.5vmin;
    font-weight: 300;
    margin: 4vmin 0 3vmin 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    list-style-type: none;
}

ol {
    font-family: "EB Garamond";
    font-weight: 400;
    font-size: 1.5vmin;
    line-height: 1.1;
}

li {
    padding: 2vmin;
}

p {
    font-family: "EB Garamond";
    font-weight: 100;
    font-size: 1.5vmin;
    white-space: pre-line;
    margin: 1vmin;
    line-height: 1.1;
}

label {
    font-family: "EB Garamond";
    font-weight: 500;
    font-size: 2vmin;
    flex: 0 1 auto;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;

    flex: 0 1 12%;
    border: none;
    background-color: inherit;
    color: var(--textColor);
    font-size: 4vmin;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.2);
}

button:focus {
    outline: none;
    transform: none;
}

button:active {
    transform: scale(0.9);
}

circle {
    r: 0.75vmin;
    fill: var(--textColor);
}

polyline {
    fill: none;
}

svg {
    flex: 1 0 auto;
}

#mainBox {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#mainHeader {
    flex: 0 1 auto;
}

#mainContent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

#mainFooter {
    flex: 0 1 5vh;
}

#sentimentLine {
    stroke-width: 0.65vmin;
}

#gaussianLine {
    stroke-width: 0.1vmin;
    stroke: var(--textColor);
}

#lowerContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 0 1 auto;
}

#textContainer {
    flex: 0 0 95%;
}

#slideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 5%;
}

#card {
    flex: 0 0 76%;
    padding: 7vmin;
    background-color: var(--lightBackground);
    border-radius: 5px;
    box-shadow: 0px 0px 80px #DDDDDD;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
}

#textSection {
    width: 65%;
    margin: auto;
    padding: 7vmin;
    background-color: var(--lightBackground);
    border-radius: 5px;
    box-shadow: 0px 0px 80px #DDDDDD;
}

#textSection p {
    font-size: 1.8vmin;
}

#textSection p a {
    text-decoration: underline;
}

#titlesList {
    text-align: center;
    margin: auto;
    columns: 3 auto;
}

#titlesList li {
    font-size: 1.75vmin;
    padding: 1vmin;
    margin: 2vmin;
    break-inside: avoid-column;
}

#pageTitle {
    text-align: center;
    margin: 0 0 2.5vmin 0;
}

/* range input  */

input[type=range] {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

    width: 20vh;
    margin: 11vh -10vh;
    padding: 0 2vw;

    -webkit-appearance: none;
    background-color: inherit;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: none;
    background: var(--textColor);
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-top: -9px;
    background: var(--textColor);
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--textColor);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: none;
    background: var(--textColor);
    border: none;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-top: -9px;
    background: var(--textColor);
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-ms-track {
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: none;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: var(--textColor);
    border: none;
    box-shadow: none;
}

input[type=range]::-ms-fill-upper {
    background: var(--textColor);
    border: none;
    box-shadow: none;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-top: -9px;
    background: var(--textColor);
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-ms-fill-lower {
    background: var(--textColor);
}

input[type=range]:focus::-ms-fill-upper {
    background: var(--textColor);
}

@media only screen and (max-device-width: 480px)  {
    ul {
        font-family: "Raleway";
        font-size: 3vmin;
        margin: 1vmin 0 1vmin 0;
    }
    ol {
        font-size: 3vmin;
    }
    h1 {
        padding-top: 1vmin;
        font-size: 13vmin;
    }
    h2 {
        font-size: 7vmin;
        padding-bottom: 0.1vmin;
    }

    h3 {
        font-size: 4vmin;
        padding-bottom: 1vmin;
    }
    #card {
        padding: 2vh;
    }
    p {
        font-size: 2.8vmin;
    }
    label {
        font-size: 3.2vmin;
    }
    button {
        padding: 0 1vmin;
        font-size: 6vmin;
    }

    input[type=range]::-webkit-slider-runnable-track {
        height: 4px;
    }

    input[type=range]::-webkit-slider-thumb {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin-top: -18px;
    }

    input[type=range]::-moz-range-track {
        height: 4px;
    }

    input[type=range]::-moz-range-thumb {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin-top: -18px;
    }

    input[type=range]::-ms-track {
        height: 4px;
    }
}
